/*  Tu są style kaskadowe CSS  */

/*  General rules */
/* *-  zaznaczenie wzystkich  elementów  jako domyslnie  */
*{
  box-sizing: border-box;
  

}
body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-image: url('/imege/autumn-83761_640.jpg');
  background-size: cover;
  animation: bg-anitmation 25s infinite alternate;
  
}

@keyframes bg-anitmation {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

#container{
  margin: 0 auto;
  width: 1200px;
  border: 2px solid black;
}

img{
  max-width: 100%;
  max-height: auto;
}

/*  Styling element in listed order */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 20px 15px;
  background-color: lightgrey;
 
}


/* brand */
/* .brand a,
.brand img {
  display: block;
} */

/* menu */

nav ul{
     list-style-type: none;

}
 nav ul li{
     display: inline-block;
 }

 nav ul li a{
     font-size: 18px;
     color: black;
     padding: 10px 15px;
     text-decoration: none;
     transition: 1s;
     
 }

 /* psewdo klasa */

 nav ul li a:hover{
     color: white;
     background-color: black;
     font-size: 25px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }

 nav ul li:first-of-type a {
     color: blue;
 }

 .slider{
  width: 1196px;
  height: 140px;
   display: flex;
  background: orange;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  
 }

 .slider img{
  overflow: hidden;
    width: 120px;
    height: 140px;
    animation: leadse 5s infinite  ease-out;
 }
 /* animacja lisci */
@keyframes leadse{
   0%{margin-bottom: 15% ; transform: rotateZ(130deg); opacity: 1; }
   50%{ opacity: 0.6;}
   100%{margin-bottom: -15%; opacity: 0; }
}



 /* Main */

 main{
  display: flex;
  justify-content:space-between;
  
  
 }

 article{
  width: 70%;
  background-color: darkgray;
  padding: 30px;
 }

 article iframe{
  width: 1000px;
  height: 450px;

  border: 20px solid tomato;
  width: 680px;
  border-radius: 0% 15% 0% 15%;
  margin: 0px 0px 20px 40px;
 
   
 }
 /* Prawy bok strony  */
 aside{
  
  background-image:  url(/imege/tree-4610745_1280.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  width: 30%;
  padding: 20px;
  border-left: 5px dashed black;  
  color:white;
  
 }


 


 .widget{
  padding-bottom: 50px;
 }

 .widget img{
    float: left;
    border: 10px solid yellowgreen;
    margin:0px 5px 3px 0px;
    width: 100px;
    padding: 5px;
}
.links ul{
  list-style-type: square;
  padding-left: 30px;
 
  
  

}
.links ul li{
  padding-bottom: 10px;
 
}
.links ul li a{
  text-decoration: none;

  color: white;
}

footer{
  background-color: grey;
  padding: 10px;
  margin: 0;
  border-top: 2px solid black;
 
}

footer p{
  text-align: center;
  font-size: 20px;

}

footer  a{
  font-size: 30px;
  color: rgb(238, 255, 0);
  margin: 5px;
}







 




